<div class="aboutcon" style="width: 50%; margin: auto;">
    <h2 style="text-align: center;"> Marka Vizyonu</h2>
    <p>İnsanların zihnen özgürleşmesinin ve kişisel gelişimlerinin en büyük destekçisi olarak en çok sevilen ve tercih edilen deneyim markası olmak.</p>
</div>
<br><hr><br>
<div class="aboutcon" style="width: 50%; margin: auto;">
    <h2 style="text-align: center;"> Marka Misyonu</h2>
    <p>Sınırları kaldıran, özgürleştiren, destekleyen ve cesaretlendiren platform olmak.   </p>
</div>
<br><hr><br>
<div class="aboutcon" style="width: 50%; margin: auto;">
    <h2 style="text-align: center;"> İletişim </h2>
    <p>
        Tel: +90 (850) 266 3737 <br>
        Mail: bilgi@kitapp.com.tr
        </p>
</div>